body{
	background-color: #9d9d97;
}

.container {
	background-color: white;
	border-radius: 40px;
	padding: 0px;
	margin: 5 auto;
	section {
		margin: 20px;
	}
	text-align: justify;
}
header{
	padding: 10px;
	margin: 0 auto;
	border-radius: 40px 40px 0px 0px;
	text-align: center;
	background-color: #638cc2;
	li{
		display: inline-block;
		list-style-type: none;
		img{
			width: 35px;
			height: 35px;
		}
	} 
}
.socialNav{
	h1{
		font-size: 70px;
		font-family: Arial;
		color: white;
	}
	h3{
		font-size: 30px;
	}
	h4 a{
		color: black;
	}
}
.print{
	float: right;
	padding: 10px;
	font-size: 15px;
}